
/*Mobile First stuff*/
@media screen and (max-width: 300px) {
	button {
		width: 15%;
	}

	.theme{
		width: 25%;

	}

	.clearfix::after {
		clear: both;
		content: '';
		display: block;
	}
}

@media screen and (max-width: 750px) {
	button {
		width: 15%;
	}
	.theme{
		width: 5%;
	}
}
