@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

*{
	font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #3c3d3b;
}

:root {
	--mint: #d8ff9e;
	--orange:  #FF750D;
	--redOrange: #E83B0C;
	--red: #FF0000;
	--pink: #E80CAF;
	--purple: #BC00FF;
	--darkWhite : #d9d9d9;
	--buttonText: d8ff9e;
	--black : #1a1a1a;
}


body {
	width: 90%;
	margin: auto;
  /*margin: 40px;
  box-sizing: border-box;*/
}

button{
	background-color: var(--mint) ;  
	border: solid 2px;
	padding: 5px 15px;
	margin: 3rem;
	font-size: 1rem;
	border-radius: 20px;
	border-color: var(--black);
	color: var(--buttonText);
}

button:hover{
	border-color: white;
	color: var(--darkWhite);
}

h1{
	font-family: "Montserrat", sans-serif;
	text-align: center;
	/*text-shadow: 3px 1px var(--mint);*/
	margin-top: 5px;
	margin-bottom: 5px;
	color: var(--darkWhite);
	font-size: 2.5rem;
	/*background-color: var(--darkWhite);*/
}

h2{
	font-family: "Merriweather", sans-serif;
	text-decoration: underline var(--mint);
	margin-bottom: 5px;
	color: var(--darkWhite);

}

h3{
	font-family: "Merriweather", sans-serif;
	margin: 10px 0 0 0;
	text-align: center;
	color: white;
	font-size: 1.5rem;
}

h4{
	color: white;
	text-align: center;
}

.logo {
	display:flex;
	width: 30vw;
	padding: .5rem;
	margin-left: auto;
	margin-right: auto;

}

nav{
	text-align: center;
}

p{
	color: var(--darkWhite);
}

section{
	border: solid var(--darkWhite);
	margin: 1rem 0;
	/*padding: 1rem;
	border-radius: 17px;*/
}

.box {
  
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.chart {
	max-width: 50vw;
	margin: auto;
}

.chartDash {
	max-width: 50vw;
	margin: auto;
}

table{
	border: solid var(--darkWhite);
	color: white;
	text-align: left;
	width: 100%;
}