@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

*{
	font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #3c3d3b;
}

:root {
	--mint: #d8ff9e;
	--darkWhite : #d9d9d9;
	--black : #1a1a1a;
}


body {
	width: 90%;
	margin: auto;
}

button{
	background-color: var(--mint) ;  
	border: solid 2px;
	padding: 5px 15px;
	margin: 1rem;
	font-size: 1rem;
	min-width: 7rem;
	border-color: var(--black);
}

button:hover{
	background-color: var(--black);
	color: var(--mint);
	border-color: var(--mint);
}

nav{
	margin-top: 1rem;
}

h2{
	font-family: "Merriweather", sans-serif;
	text-decoration: underline var(--mint);
	margin-bottom: 5px;
	color: var(--darkWhite);

}

h3{
	font-family: "Merriweather", sans-serif;
	margin: 3rem 0 0 0;
	text-align: center;
	color: white;
	font-size: 1.5rem;
}

nav{
	text-align: center;
}

p{
	color: var(--darkWhite);
}

section{
	border: solid var(--mint);
	margin: 1rem 0;
	padding: 1rem;
	color: var(--darkWhite);
}

select, option{
	color: var(--darkWhite);
}

table{
	border: solid var(--mint);
	color: white;
	text-align: left;
	width: 100%;
	margin: 1rem 0;
	padding: 1rem;
}

.uploader button{
	margin: 0;
}

.logo {
	width: 30vw;
	padding: .5rem;
	margin-left: auto;
	margin-right: auto;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.chart {
	max-width: 50vw;
	margin: auto;
}

.chartDash {
	max-width: 50vw;
	margin: auto;
}